@use './mixins' as *;

.fui-dialog-backdrop {
  @include fui-overlay-backdrop;
}

.fui-dialog-positioner {
  @include fui-overlay-positioner;
  place-items: center;
  padding: var(--fui-space-4);
}

.fui-dialog-content {
  @include fui-overlay-content;
  max-height: 100%;
  overflow: hidden;
  &:not([hidden]) {
    display: flex;
    flex-direction: column;
  }
}

.fui-dialog-header {
  @include fui-overlay-header;
  flex: none;
}

.fui-dialog-header .fui-dialog-description {
  margin-block-end: 0;
}

.fui-dialog-description {
  margin: var(--fui-space-2) 0 var(--fui-space-4);
  color: var(--fui-color-muted-foreground);
  line-height: var(--fui-line-height-copy);
}

.fui-dialog-body {
  @include fui-overlay-body;
  @include fui-scroll-edge-shadows;
  line-height: var(--fui-line-height-copy);
}

.fui-dialog-body-content {
  @include fui-overlay-body-content;
}

.fui-dialog-body:has(+ .fui-dialog-footer) {
  margin-block-end: 0;
}

.fui-dialog-footer {
  @include fui-overlay-footer;
}

.fui-dialog-close {
  @include fui-close-button;
}
